@inherits OrderCardBase

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="商品画像">
    <div class="card-body">
        <h5 class="card-title">@Title</h5>
        <p class="card-text">
            @Contents
        </p>
        <a href="/order/detail/@Order.Id" class="btn btn-primary">詳細</a>
    </div>
</div>
